{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">User List</h2>
    <div class="d-flex justify-content-between align-items-center ">
        <div class="btn-group mt-3">
            {% if not is_user %}  <!-- Nếu không phải là user -->
                <a href="{% url 'user:user_add' %}" class="btn btn-primary me-2" title="Add New User" data-toggle="tooltip">
                    <i class="fas fa-plus"></i> Add User
                </a>
                <button class="btn btn-success me-2" title="Import Users from Excel" data-toggle="modal" data-target="#importModal" data-toggle="tooltip">
                    <i class="fas fa-file-import"></i> Import
                </button>
                <a href="{% url 'user:export_users' %}" class="btn btn-secondary" title="Export Users to Excel" data-toggle="tooltip">
                    <i class="fas fa-file-export"></i> Export
                </a>
            {% endif %}
        </div>
        <!-- Search form -->
        <form method="GET" action="{% url 'user:user_list' %}" class="form-inline">
            <div class="input-group">
                <input type="text" name="q" value="{{ query|default_if_none:'' }}" class="form-control" placeholder="Search users..." aria-label="Search users">
                <select name="role" class="form-control ms-2">
                    <option value="">Select Role</option>
                    {% for role in roles %}
                        <option value="{{ role.role_name }}" {% if role.role_name == selected_role %}selected{% endif %}>{{ role.role_name }}</option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn btn-outline-success ms-2">Search</button>
            </div>
        </form>
    </div>

    <table class="table table-hover table-bordered mt-4">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Full Name</th>
                
                <th class="text-center">Profile Picture</th>
                {% if not is_user %}
                    <th>Role</th>
                    <th>Created At</th>
                    <th>Updated At</th> 
                    <th>Actions</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr ondblclick="window.location.href='{% url 'user:user_detail' user.pk %}'" style="cursor: pointer;">
                <td>{{ users.number|add:'-1'|multiply:5|add:forloop.counter }}</td> 

                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.full_name }}</td>
                
                <td class="text-center">
                    {% if user.profile_picture_url %}
                    <img src="{{ user.profile_picture_url }}" alt="Profile Picture" width="170" height="170" class="img-fluid">
                    {% else %}
                        No image
                    {% endif %}
                </td>
                {% if not is_user %}
                    <td>{{ user.role.role_name }}</td>
                    <td>{{ user.created_at|date:"Y-m-d H:i" }}</td> 
                    <td>{{ user.updated_at|date:"Y-m-d H:i" }}</td> 
                    <td>
                {% endif %}
                    <div class="btn-group" role="group">
                        {% if not is_user %}
                            <a href="{% url 'user:user_edit' user.pk %}" class="btn btn-warning btn-sm" title="Edit User" data-bs-toggle="tooltip">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'user:user_delete' user.pk %}" class="btn btn-danger btn-sm" title="Delete User" data-bs-toggle="tooltip">
                                <i class="fas fa-trash"></i>
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="9" class="text-center">No users found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination -->
    <div class="d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if users.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ users.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}">&laquo; Previous</a>
                    </li>
                {% endif %}
                {% for num in users.paginator.page_range %}
                    {% if users.number == num %}
                        <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                    {% elif num > users.number|add:'-3' and num < users.number|add:'3' %}
                        <li class="page-item"><a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}">{{ num }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if users.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ users.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}">Next &raquo;</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ users.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<!-- Import Modal -->
<div class="modal fade" id="importModal" tabindex="-1" role="dialog" aria-labelledby="importModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importModalLabel">Import Users from Excel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Import Form -->
                <form method="post" enctype="multipart/form-data" action="{% url 'user:import_users' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_excel_file">Upload Excel File:</label>
                        <input type="file" name="excel_file" class="form-control" id="id_excel_file" required>
                    </div>
                    <div class="mb-4">
                        <span>
                            Please download and use the <a href="{% static 'excel/import_users.xlsx' %}" target="_blank">Excel template</a>. The Excel file must contain exactly one sheet with the required columns.
                        </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
