{% extends "base.html" %}
{% load static %} 
{% block title %}Module List{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Modules</h2>
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-4">
      <form method="GET" class="flex-grow-1 mb-2 mb-md-0">
          <div class="input-group gap-2">
              <input type="text" name="search" class="form-control" 
                     placeholder="Search Modules" aria-label="Search Module Groups" 
                     value="{{ request.GET.search }}" style="min-width: 200px; max-width: 600px;">
              <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="submit">
                      <i class="fas fa-search"></i>
                  </button>
              </div>
          </div>
      </form>
      <div class="d-flex gap-2">
          <button class="btn btn-outline-secondary" title="Import Module from Excel" 
                    data-bs-toggle="modal" data-bs-target="#importModal" data-bs-toggle="tooltip">
                <i class="fas fa-file-import"></i> Import
            </button>
          <a href="{% url 'module_group:export_modules' %}" class="btn btn-outline-secondary" 
             title="Export Users to Excel" data-toggle="tooltip">
              <i class="fas fa-file-export"></i> Export
          </a>
          <a href="{% url 'module_group:module_add' %}" class="btn btn-primary">
              <i class="fas fa-plus"></i> Add New Module
          </a>
      </div>
  </div>


    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-center">#</th>
                <th>Module Name</th>
                <th>Module Group</th>
                <th>Icon</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for module in modules %}
            <tr>
                <td class="text-center">{{ forloop.counter }}</td>
                <td>{{ module.module_name }}</td>
                <td>{{ module.module_group }}</td>
                <td><i class="{{ module.icon }} text-secondary"></i></td>

                <td>
                    <a title="Details" href="{% url 'module_group:module_detail' module.pk %}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-info-circle"></i></a>
                    <a title="Edit"  href="{% url 'module_group:module_edit' module.pk %}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-edit"></i></a>
                    <a title="Delete" href="{% url 'module_group:module_delete' module.pk %}" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>

<!-- Import Modal -->
<div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
      <div class="modal-content">
          
          <!-- Modal Header -->
          <div class="modal-header">
              <h5 class="modal-title" id="importModalLabel">Import Module Groups from Excel</h5>
              <!-- Close Button for Bootstrap 5 -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <!-- Modal Body -->
          <div class="modal-body">
              
              <!-- Import Form -->
              <form method="post" enctype="multipart/form-data" action="{% url 'module_group:import_modules' %}">
                  
                  <!-- Information Text -->
                  <div class="mb-4">
                      <span>
                          Please download and use the 
                          <a href="{% static 'excel/import_modules.xlsx' %}" target="_blank">Excel template</a>. 
                          The Excel file must contain exactly one sheet with the required columns.
                      </span>
                  </div>
                  
                  <!-- CSRF Token for Security -->
                  {% csrf_token %}
                  
                  <!-- Form Fields -->
                  {{ form.as_p }}
                  
                  <!-- Submit Button -->
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary">Upload</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>


  <!-- Initialize Bootstrap Tooltips -->
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
{% endblock %}
