{% extends "base.html" %}
{% load static %}
{% block title %}Team{% endblock %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMS Team</title>
    <style>
        .profile-img {
            width: 100%;
            height: 33vh;
            object-fit: cover;
            border-bottom: 1px solid #dee2e6;
        }
        .card {
            border: 1px solid #dee2e6;
            border-radius: 0.5rem;
            transition: transform 0.3s, box-shadow 0.3s;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <div class="mt-4">
        <h1 class="text-center mb-4">LMS Team Members</h1>
        <div class="row">
            <div class="col-md-6">
                <form method="GET" action="{% url 'team:team_list' %}" class="d-flex gap-2">
                    <div class="col-7 ms-3">
                        <input type="text" name="q" value="{{ query|default_if_none:'' }}" 
                               class="form-control" placeholder="Search by name" aria-label="Search users">
                    </div>
                    <div class="col-3">
                        <select name="role_member" class="form-select" aria-label="Select Role">
                            <option value="">Select Role</option>
                            {% for role_member in role_members %}
                                <option value="{{ role_member.0 }}" {% if selected_role == role_member.0 %}selected{% endif %}>{{ role_member.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-outline-primary">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>            

            <div class="col-md-6 d-flex justify-content-end p-2 gap-3">
                <a href="{% url 'team:import_members' %}" class="btn btn-outline-primary">
                    <i class="fas fa-file-import"></i> Import 
                </a>
                <a href="{% url 'team:export_members' %}" class="btn btn-outline-primary">
                    <i class="fas fa-file-export"></i> Export 
                </a>
                <a href="{% url 'team:add_member' %}" class="btn btn-primary">
                    <i class="fas fa-user-plus"></i> Add Member
                </a>
            </div>
            
        </div>

        <div class="row mb-4">
            {% for member in members %}
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card" ondblclick="window.location.href='{% url 'team:member_detail' member.pk %}'">
                    <img src="{% if member.profile_picture %}{{ member.profile_picture.url }}{% else %}{% static 'images/default-profile.png' %}{% endif %}" class="profile-img" alt="{{ member.name }}">
                    <div class="card-body">
                        <!-- Title -->
                        <h5 class="card-title">{{ member.name }}</h5>

                        <!-- Full Name & Role -->
                        <div class="d-flex flex-column mb-3">
                            <span class="text-muted"><strong>Full Name:</strong> {{ member.full_name }}</span>
                            <span class="text-muted"><strong>Role:</strong> {{ member.role_member }}</span>
                            <span title="{{ member.email }}" class="text-muted d-inline-block text-truncate" style="max-width: 250px;">
                                <strong>Email:</strong> {{ member.email }}
                            </span>
                            
                        </div>

                        <!-- Homepage Link -->
                        <div class="mb-3 d-flex justify-content-center gap-2">
                        {% if member.homepage %}
                            <a href="{{ member.homepage }}" class="btn btn-outline-primary btn-sm" target="_blank" title="Visit Homepage">
                                <i class="fas fa-globe" style="color: #66b3ff;"></i> 
                            </a>
                        
                        {% endif %}
                            <a href="{% url 'team:edit_member' member.pk %}" class="btn btn-outline-secondary btn-sm" title="Edit">
                                <i class="fas fa-edit" style="color: #80cce1;"></i>
                            </a>
                            <a href="{% url 'team:delete_member' member.pk %}" class="btn btn-outline-danger btn-sm" title="Delete">
                                <i class="fas fa-trash" style="color: #f5a9a2;"></i>
                            </a> 
                        </div>     
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Phần phân trang thêm vào đây -->
        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if members.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page=1{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}" aria-label="First">
                                <span aria-hidden="true">&laquo; First</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ members.previous_page_number }}{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}" aria-label="Previous">
                                <span aria-hidden="true">Previous</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <span class="page-link">First</span>
                        </li>
                        <li class="page-item disabled">
                            <span class="page-link">Previous</span>
                        </li>
                    {% endif %}
            
                    {% for num in members.paginator.page_range %}
                        {% if members.number == num %}
                            <li class="page-item active">
                                <span class="page-link">{{ num }}</span>
                            </li>
                        {% elif num > members.number|add:'-3' and num < members.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}">{{ num }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}
                
                        {% if members.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ members.next_page_number }}{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}" aria-label="Next">
                                    <span aria-hidden="true">Next</span>
                                </a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ members.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}{% if selected_role %}&role={{ selected_role }}{% endif %}" aria-label="Last">
                                    <span aria-hidden="true">Last &raquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <span class="page-link">Next</span>
                            </li>
                            <li class="page-item disabled">
                                <span class="page-link">Last</span>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            
            
        </div>
    </body>
    
    {% endblock %}