{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center display-4 text-primary">Welcome to the Learning Management System</h1>
    
    <!-- Loop through each module group -->
    {% for group in module_groups %}
    <div class="mb-5">
        <div class="card shadow-lg border-info">
            <div class="card-header bg-info text-white">
                <h2 class="mb-0">{{ group.name }}</h2>  <!-- Display the Module Group name -->
            </div>
            <div class="card-body">
                <div class="row">
                    <!-- Loop through each module within the current group -->
                    {% for module in modules %}
                        {% if module.module_group == group %}
                        <div class="col-md-4 mb-3">
                            <div class="card shadow-lg h-100 border-info">
                                <div class="card-body text-center">
                                    <!-- Module Icon -->
                                    <div class="icon mb-3">
                                        <i class="{{ module.icon }} fa-4x text-info"></i>
                                    </div>

                                    <!-- Module Name -->
                                    <h5 class="card-title font-weight-bold">{{ module.module_name }}</h5>

                                    <!-- Module Description -->
                                    <p class="card-text text-secondary">Discover new skills and enhance your knowledge in this module.</p>

                                    <!-- Module Button -->
                                    <a href="{% url module.module_url %}" class="btn btn-info text-white mt-3">Go to {{ module.module_name }}</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<style>
    .card {
        transition: transform 0.3s;
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    }
</style>

{% endblock %}
